.about-item {

  &::before {
    content: "";
    display: block;
    width: 104px;
    height: 104px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
  }

  &:first-child {
    margin-bottom: 78px;
  }
}

.about-item--access {
  max-width: 349px;

  &::before {
    background-image: url("../img/access.svg");
  }
}

.about-item__title {
  margin: 0;
  margin-bottom: 9px;
  font-size: 20px;
  line-height: 23px;
}

.about-item__text {
  font-size: 14px;
  margin: 0;
}

.about-item--security {
  max-width: 384px;

  &::before {
    background-image: url("../img/security.svg");
  }
}

.about-item--collaboration {
  max-width: 363px;

  &::before {
    background-image: url("../img/collaboration.svg");
  }
}

.about-item--store {
  max-width: 363px;

  &::before {
    background-image: url("../img/story.svg");
  }
}

@media only screen and (max-width: 790px) {

  .about-item {
    max-width: 330px;
  }
}

@media only screen and (max-width: 720px) {

  .about-item {
    max-width: 290px;
  }
}

@media only screen and (max-width: 620px) {

  .about-item {
    max-width: 250px;
  }
}

@media only screen and (max-width: 550px) {

  .about-item {
    width: 100%;
    max-width: 100%;
    margin-bottom: 80px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}