.blockquote {
  margin-bottom: 80px;
}

.blockquote__list {
  @include reset-list;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 6;

    &::before {
      position: absolute;
      left: -1%;
      top: -30%;
      z-index: 0;
      content: "";
      display: block;
      width: 79px;
      height: 79px;
      background-image: url("../img/blockquote.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
    }
}

.blockquote__item {
  color: #fff;
  width: 100%;
  max-width: 360px;
  padding: 40px 25px 26px 27px;
  background-color: #202A3C;
  box-shadow: 5px 5px 8px rgba(56, 56, 56, 0.0991282);
  border-radius: 3.93258px;
  z-index: 5;
  margin-right: 25px;

    &:last-child {
      margin-right: 0;
  }
}

.blockquote__blockquote-text {
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.5px;
}

.blockquote__user-info {
  display: flex;
  align-items: center;

  &::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 8px;
  }
}

.blockquote__user-info--satish::before {
  background-image: url("../img/satish.svg");
}

.blockquote__user-name {
  margin: 0;
  font-weight: bold;
  font-size: 10px;
}

.blockquote__user-profession {
  margin: 0;
  font-size: 8px;
}

.blockquote__user-info--bruce::before {
  background-image: url("../img/bruce.svg");
}

.blockquote__user-info--iva::before {
  background-image: url("../img/iva.svg");
}

@media only screen and (max-width: 827px) {

  .blockquote__list {
    flex-wrap: wrap;
    justify-content: center;

    &::before {
      top: -14%;
    }
  }

  .blockquote__item {
    margin-bottom: 24px;
  }
}

@media only screen and (max-width: 799px) {

  .blockquote__list::before {
    left: 24%;
  }
}

@media only screen and (max-width: 774px) {

  .blockquote__item {
    max-width: 460px;
    margin-right: 0;
    margin-left: 0;

     &:last-child {
      margin-right: 0px;
     }
  }

  .blockquote__list::before {
    left: 18%;
    top: -10%;
  }
}

@media only screen and (max-width: 774px) {

  .blockquote__list::before {
    left: 17%;
  }
}

@media only screen and (max-width: 640px) {

  .blockquote__list::before {
    left: 14%;
  }
}

@media only screen and (max-width: 640px) {

  .blockquote__list::before {
    left: 10%;
  }
}

@media only screen and (max-width: 530px) {

  .blockquote__list::before {
    left: 7%;
  }
}

@media only screen and (max-width: 444px) {

  .blockquote__list::before {
    top: -9%;
  }

  .blockquote {
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 333px) {

  .blockquote__list::before {
    top: -8%;
  }
}