.contact {
  color: #fff;
  text-align: center;
}

.contact__container {
  max-width: 900px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

}

.contact__wrapper {
  padding: 42px 77px;
  background: #1B2330;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.254274);
  border-radius: 9px;
}

.contact__title {
  margin: 0;
  margin-bottom: 16px;
  font-size: 32px;
  line-height: 48px;
}

.contact__text {
  font-size: 14px;
  line-height: 21px;
  max-width: 673px;
  margin: 0;
  margin-bottom: 38px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 768px) {
  .contact__wrapper {
    padding: 40px 28px;
  }
  .contact__title {
    font-size: 24px;
    line-height: 32px;
  }
}

@media only screen and (max-width: 450px) {
  .contact__wrapper {
    padding: 40px 28px;
  }
  .contact__title {
    font-size: 18px;
    line-height: 24px;
  }

  .contact__text {
    font-size: 12px;
    line-height: 21px;
  }
}