.demo {
  margin-bottom: 120px;
}

.demo__container {
  display: flex;
  align-items: center;
}

.demo__img {
  object-fit: cover;
  margin-right: 57px;
  max-width: 50%;
}

.demo__right {
  color: #fff;
}

.demo__title {
  margin: 0;
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 19px;
}

.demo__text {
  font-size: 16px;
  line-height: 24px;
}

.demo__link {
  color: #62E0D9;
  text-decoration: none;
  padding-bottom: 4px;
  border-bottom: 1px solid #62E0D9;
  display: inline-flex;
  align-items: center;


  &:after {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    background-image: url("../img/demo-link-icon.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    margin-left: 8px;
  }
}

@media only screen and (max-width: 805px) {
  .demo__title {
    font-size: 36px;
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  .demo__title {
    font-size: 30px;
  }

  .demo__container {
    flex-direction: column;
  }

  .demo__img {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    margin-bottom: 48px;
  }
}

@media only screen and (max-width: 400px) {
  .demo__title {
    font-size: 18px;
    line-height: 24px;
  }
  .demo__text {
    font-size: 14px;
  }

  .demo__link {
    font-size: 12px;
  }
}