.site-footer {
  background-color: #0B1524;
  padding-top: 200px;
  padding-bottom: 100px;
  color: #fff;
}

.footer__logo {
  display: block;
  margin-bottom: 32px;

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    opacity: 0.6;
  }
}

.footer__bottom {
  display: flex;
  flex-wrap: wrap;
}

.footer__address {
  max-width: 360px;
  display: flex;
  margin-right: 80px;

  &:before {
    content: "";
    display: block;
    width: 13px;
    height: 18px;
    background-image: url("../img/place.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    margin-right: 27px;
    flex-shrink: 0;
  }
}

.footer__address-text {
  margin: 0;
}

.footer__phone {
  display: flex;
  flex-direction: column;
  margin-right: 145px;
}

.footer__tel {
  text-decoration: none;
  color: #fff;
  display: flex;
  margin-bottom: 16px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &:before {
    content: "";
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 24px;
    height: 24px;
    background-image: url("../../img/pgone-icon.svg");
    margin-right: 24px;
  }
}

.footer__mail {
  text-decoration: none;
  color: #fff;
  display: flex;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &:before {
    content: "";
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 24px;
    height: 24px;
    background-image: url("../../img/gmail-icon.svg");
    margin-right: 24px;
  }
}

.footer__nav {
  display: flex;
}

.footer__sitenav {
  @include reset-list;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  &:first-child {
    margin-right: 80px;
  }
}

.footer__sitenav-item {
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }
}

.footer__sitenav-link {
  text-decoration: none;
  color: #fff;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.footer__social-links {
  margin-left: auto;
  display: flex;
  align-items: flex-start;
}

.footer__facebook-link {
  margin-right: 11px;
  margin-left: 15px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.footer__facebook-logo {
  display: block;
}

.footer__instagram-link {
  margin-right: 11px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.footer__twitter-link {


  &:hover {
    opacity: 0.8;
  }

  &:active{
    opacity: 0.6;
  }

}

.footer__twitter-logo {
  display: block;
}

.footer__instagram-logo {
  display: block;
}

@media only screen and (max-width: 1178px) {
  .footer__social-links {
    margin-left: 0;
  }
}

@media only screen and (max-width: 1134px) {

  .footer__logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .footer__bottom {
    justify-content: center;
  }

  .footer__address {
    margin-bottom: 80px;
  }

  .footer__social-links {
    margin-left: 50px;
  }
}

@media only screen and (max-width: 803px) {

  .footer__phone {
    margin-right: 40px;
  }
}

@media only screen and (max-width: 698px) {

  .footer__social-links {
    margin-top: 30px;
    margin-left: 70px;
    margin-right: 70px;
  }
}

@media only screen and (max-width: 489px) {

  .site-footer {
    padding-top: 273px;
    padding-bottom: 46px;
  }

  .footer__logo {
    margin-left: 0;
    padding: 0 40px;
  }

  .footer__bottom {
    justify-content: flex-start;
    padding: 0 30px;
  }

  .footer__address {
    margin: 0;
    margin-bottom: 16px;
  }

  .footer__phone {
    display: block;
    margin-bottom: 80px;
  }

  .footer__nav {
    flex-direction: column;
    width: 100%;
    max-width: 100%;
  }

  .footer__sitenav {

    &:first-child {
    margin-bottom: 48px;
    }

    &:last-child {
      margin-bottom: 80px;
    }
  }

  .footer__social-links {
    margin: 0;
    width: 100%;
    max-width: 100%;
    justify-content: center;
  }

}