.intro__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 158px;
}

.intro__img {
  display: block;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 36px;
}

.intro__title {
  margin: 0;
  margin-bottom: 32px;
  font-size: 40px;
  line-height: 60px;
  color: #fff;
  text-align: center;
  max-width: 734px;
  margin-left: auto;
  margin-right: auto;
}

.intro__text {
  color: #fff;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  max-width: 589px;
  margin: 0;
  margin-bottom: 49px;
  margin-left: auto;
  margin-right: auto;
}

.intro__link {
  font-size: 16px;
  font-weight: bold;
  line-clamp: 19px;
  text-decoration: none;
  color: #fff;
  padding: 19px 95px;
  background-image: linear-gradient(152.13deg, #63E1D9 -150.21%, #34A0CD 170.03%);
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
  border-radius: 28px;
  align-items: center;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media only screen and (max-width: 768px) {

  .intro__title {
    font-size: 32px;
    line-height: 48px;
  }

  .intro__text {
    font-size: 17px;
  }

  .intro__link {
    font-size: 15px;
    padding: 16px 87px 15px 87px;
  }
}

@media only screen and (max-width: 450px) {

  .intro__title {
    font-size: 24px;
    line-height: 36px;
  }

  .intro__text {
    font-size: 14px;
  }

  .intro__link {
    font-size: 14px;
    padding: 16px 81px;
  }
}

@media only screen and (max-width: 325px) {

  .intro__title {
    font-size: 21px;
    line-height: 32px;
  }

  .intro__text {
    font-size: 13px;
  }
}